<header class="main-header">
  <nav>
    <div class="left">
      {{#link-to 'index' }}
        <img id="main-logo" src="assets/images/marvel-logo.png" />
      {{/link-to}}
    </div>
  </nav>
</header>

<section id="main-content">
  {{outlet}}
</section>
