<div class="container">
  {{hero-list list=model.results}}

  <p class="text-center">
    {{#if isLoading}}
      Loading...
    {{else}}
      <a href="#" class="button small radius" {{action 'loadMore'}}> LOAD MORE </a>
    {{/if}}
  </p>
  {{outlet}}
</div>
